.body {
 margin: 0px 0px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 70px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* WebKit, Edge */
::-webkit-input-placeholder {
  color: deeppink;
}
/* Firefox 4-18 */
:-moz-placeholder {
  color: deeppink;
  opacity: 1;
}
/* Firefox 19+ */
::-moz-placeholder {
  color: deeppink;
  opacity: 1;
}
/* IE 10-11 */
:-ms-input-placeholder {
  color: deeppink;
}
/* Edge */
::-ms-input-placeholder {
  color: deeppink;
}
/* MODERN BROWSER */
::placeholder {
  color: deeppink;
}
