.title{
    color: black;
    font-size: 20px;
}
/* MODERN BROWSER */
::placeholder {
    text-transform: capitalize !important;
}

/* WebKit, Edge */
::-webkit-input-placeholder {
    text-transform: capitalize !important;
}
/* Firefox 4-18 */
:-moz-placeholder {
    text-transform: capitalize !important;
}
/* Firefox 19+ */
::-moz-placeholder {
    text-transform: capitalize !important;
}
/* IE 10-11 */
:-ms-input-placeholder {
    text-transform: capitalize !important;
}
/* Edge */
::-ms-input-placeholder {
    text-transform: capitalize !important;
}
  /* MODERN BROWSER */
::placeholder {
    text-transform: capitalize !important;
}